flask
requests
requests-futures
pandas
openpyxl
colorama
PySocks
stem
instaloader
PyGithub
linkedin-api
networkx
matplotlib
pillow
beautifulsoup4
lxml
nltk
spacy
transformers
torch
sherlock-project
pymongo==4.6.1